.profile {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 740px) {
  .profile {
    flex-direction: column;
    gap: 29px;
  }
}
