.loader {
  visibility: hidden;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 5px;
}

.loader::after {
  content: "...";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: loader 1s infinite;
}

@keyframes loader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
