.button_type_submit {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  color: white;
  background: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 18px;
}
.button_type_submit:not(.button_disabled):hover {
  opacity: 0.8;
}

@media (max-width: 550px) {
  .button_type_submit {
    font-size: 14px;
    line-height: 17px;
    margin-top: 40px;
  }
}
